/* i have sketch file so making it pixel perfect 😛 */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Muli, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #e8ecf3;
}

.container {
  margin-top: 56px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.clipboard {
  box-shadow: 0px 15px 42px #a8b2c3;
  background: #0c1226;
  border-radius: 29px;
  padding: 18px 43px;
  font-size: 18px;
  color: #e9e9ec;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.title {
  margin-top: 76px;
  font-size: 34px;
  color: #0c1226;
  font-weight: bold;
}

.colors {
  margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.color {
  margin-right: 30px;
  background-color: white;
  border-radius: 15px;
  margin-top: 10px;
  transition: all 0.3s;
}

.selected {
  margin-top: 0;
  margin-bottom: 10px;
  box-shadow: 0px 15px 42px #a8b2c3;
}

.selected .text {
  opacity: 1;
}

.color:last-child {
  margin-right: 0;
}

.color-preview {
  margin: 10px;
  background-color: #000000;
  width: 187px;
  height: 251px;
  border-radius: 5px;
}

.text {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #0c1226;
  opacity: 0.7;
  font-weight: bold;
  font-size: 22px;
}

.btn {
  margin-top: 80px;
  padding: 22px 130px;
  background: #7e6cca;
  box-shadow: 0px 6px 20px #7e6cca;
  border-radius: 5px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  outline: none;
}

.btn:hover {
  background: #6658a3;
}

.btn:active {
  background: #413a5f;
}

.spacebar {
  margin-top: 20px;
  font-size: 18px;
  color: #0c1226;
}

.copyinfo {
  margin-top: 94px;
  padding: 13px 21px;
  background-color: white;
  border-radius: 23.5px;
  font-size: 16px;
}

.cit {
  opacity: 0.7;
}
